.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
/* Your Custom code here */
.wrapper {
  width: 95%;
  max-width: 960px;
  margin: 0 auto;
}
/* Header styles */
.top_header {
  height: 105px;
  background: #FFFFFF;
  position: relative;
}
.top_header::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: url(img/button.png) repeat-x center center;
  position: absolute;
  top: 100%;
}
.top_header .header_third {
  width: 30.3%;
  float: left;
}
.top_header .header_third.search_section {
  line-height: 105px;
}
.top_header .header_third.search_section .menu_icon {
  display: inline-block;
  float: left;
  line-height: 110px;
}
.top_header .header_third.search_section .menu_icon i {
  font-size: 20px;
  color: #262626;
  cursor: pointer;
}
.top_header .header_third.search_section .search_box {
  display: inline-block;
  float: left;
  margin-left: 30px;
}
.top_header .header_third.search_section .search_box #searchform fieldset::before {
  content: "\f002";
  font: normal normal normal 12px/1 FontAwesome;
  display: inline-block;
  color: #D4DAD9;
  margin-right: 6px;
}
.top_header .header_third.search_section .search_box #searchsubmit {
  display: none;
}
.top_header .header_third.search_section .search_box input.searchinput {
  border: none;
  font-size: 12px;
}
.top_header .header_third.search_section .search_box input.searchinput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #D4DAD9;
  font-size: 12px;
  font-style: italic;
}
.top_header .header_third.search_section .search_box input.searchinput::-moz-placeholder {
  /* Firefox 19+ */
  color: #D4DAD9;
  font-size: 12px;
  font-style: italic;
}
.top_header .header_third.search_section .search_box input.searchinput:-ms-input-placeholder {
  /* IE 10+ */
  color: #D4DAD9;
  font-size: 12px;
  font-style: italic;
}
.top_header .header_third.search_section .search_box input.searchinput:-moz-placeholder {
  /* Firefox 18- */
  color: #D4DAD9;
  font-size: 12px;
}
.top_header .header_third.logo_section {
  text-align: center;
  line-height: 105px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .header_third.logo_section:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .header_third.social_section {
  text-align: right;
  font-size: 20px;
  line-height: 105px;
  color: #D4DAD9;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .header_third.social_section a {
  color: inherit;
}
.top_header .header_third.social_section a:hover {
  color: #959b9a;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .header_third.social_section i {
  margin-left: 30px;
}
